<div class="row">
  <div class="col-md-12">
    <div class="wrapper">
      <p>Serving clients in the Omaha metropolitan area, we provide accounting and tax services for small businesses and individuals as Certified Public Bookkeepers.  We offer training and technical assistance when you need it.</p>

      <p>Tom Mohr has over 30 years experience as a CFO/Controller in several industries and has prepared hundreds of business and personal income tax returns.  He has helped businesses develop timely, relevant and reliable financial information as they improve their profitability and cash flow. </p>

      <p>We are members of the National Association of Certified Public Bookkeepers.  NACPB is an association of professionals providing bookkeeping, payroll, tax preparation, financial management and QuickBooks services.</p>
    </div>
  </div>
</div>

<div class="push"></div>
