<div class="row">
  <div class="col-md-12">
    <div class="wrapper">
      <%= image_tag "tommohr.png", class: "profile-pic" %>
      <p>Serving clients in the Omaha metropolitan area, we provide accounting and tax services for small businesses and individuals as Certified Public Bookkeepers.  We offer training and technical assistance when you need it.</p>

      <p>Tom Mohr has over 30 years experience as a CFO/Controller in several industries and has prepared hundreds of business and personal income tax returns.  He has helped businesses develop timely, relevant and reliable financial information as they improve their profitability and cash flow. </p>

      <p>We are members of the National Association of Certified Public Bookkeepers.  NACPB is an association of professionals providing bookkeeping, payroll, tax preparation, financial management and QuickBooks services.</p>

      </br>

      <h4> Privacy Policy </h4>

      <p>You may have some concern about the confidentiality of the information you provide to us. It is our policy to keep your personal and business matters confidential to the extent permitted by law. </p>

      <p> We handle all information you provide us with the utmost confidentiality. Your personal information will only be shared with members of our staff who need to know this information in order to complete the work you have hired us to perform. We will not disclose your personal information to anyone outside our firm without your express written permission to do so, or unless we are legally required to do so. For example, if a mortgage lender contacts our office for a copy of your return or information about it, we will ask that you provide written permission prior to our responding to that request. </p>

      <p>You should also be aware that anything you tell us during the interview for the preparation of your tax return is confidential, but not protected from the IRS.  Although we consider any information you provide us as confidential, return preparation engagements are not covered by advisor-client privilege. </p>

      <p>If you feel the nature of any subject matter to be discussed requires protected communications, please raise that issue so that we can discuss your possible need to consult with an attorney for legal advice. </p>

    </div>
  </div>
</div>

