<div class="row">
  <div class="col-md-12">

    <h1> Services </h1>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3> Bookkeeping </h3>
      <p> As Certified Public Bookkeepers (CPB) we can keep your books on a timely, relevant, and reliable basis. Having us maintain your books assures that you receive the financial information you need to make informed business decisions and enables you to spend more of your time managing your business. </p>
      <p> In addition, we can assure you that the information provided to your income tax professional will reduce your tax preparation fee and you don't overpay your income tax obligations.</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3> Tax Preparation </h3>
      <p> Every dollar of federal and state income tax saved means another dollar you can use to invest in an asset, pay down a liability, or return to the owner(s). Mohr & Associates' tax planning and preparation services ensure you pay as little federal and state income tax as you are legally obligated to pay. Don't evade your income tax liabilities, but do avoid them. Tax evasion is illegal, but tax avoidance or deference is good business and cash management. </p>
      <p>In addition, we can assure you that the information provided to your income tax professional will reduce your tax preparation fee and you don't overpay your income tax obligations.</p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3> Payroll </h3>
      <p> As Certified Payroll Specialists (CPS) we can process your payroll and payroll deposits and prepare your monthly, quarterly, and annual payroll forms. In addition, we can process and prepare your 1099 information annual returns. Having a CPS process your payroll and prepare your payroll tax returns assures that your payroll and deposits and payroll forms are prepared on time without penalties and interest and enables you to spend more of your time managing your business. </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3> Consulting </h3>
      <p> We offer consulting in the following areas: QuickBooks, New Business Setup, Human Resources, and Mergers & Acquisitions </p>
    </div>

  </div>
</div>
