<h1 class="tax-rates"> 2016 Tax Rates </h1>

<table class="table table-bordered table-sm tax-rates">
  <thead>
    <tr>
    <th colspan="2" class="status"> Single </th>
    </tr>
    <tr>
      <th> Taxable Income </th>
      <th> Tax </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> $0 to $9,275 </td>
      <td> 10% of taxable income </td>
    </tr>
    <tr>
      <td> $9,275 to $37,650 </td>
      <td> $927.50 + 15% of the amount over $9,275 </td>
    </tr>
    <tr>
      <td> $37,650 to $91,150 </td>
      <td> $5,183.75 + 25% of the amount over $37,650 </td>
    </tr>
    <tr>
      <td> $91,150 to $190,150 </td>
      <td> $18,558.75 + 28% of the amount over $91,150 </td>
    </tr>
    <tr>
      <td> $190,150 to $413,350 </td>
      <td> $46,278.75 + 33% of the amount over $190,150 </td>
    </tr>
    <tr>
      <td> $413,350 to $415,050 </td>
      <td> $119,934.75 + 35% of the amount over $413,350 </td>
    </tr>
    <tr>
      <td> Over $415,050 </td>
      <td> $120,529.75 + 39.6% of the amount over $415,050 </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-sm tax-rates">
  <thead>
    <tr>
    <th colspan="2" class="status"> Head of Household </th>
    </tr>
    <tr>
      <th> Taxable Income </th>
      <th> Tax </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> $0 to $13250 </td>
      <td> 10% of taxable income </td>
    </tr>
    <tr>
      <td> $13,250 to $50,400 </td>
      <td> $1,325 + 15% of the amount over $13,250 </td>
    </tr>
    <tr>
      <td> $50,400 to $130,150 </td>
      <td> $6,897.50 + 25% of the amount over $50,400 </td>
    </tr>
    <tr>
      <td> $130,150 to $210,800 </td>
      <td> $26,835 + 28% of the amount over $130,150 </td>
    </tr>
    <tr>
      <td> $210,800 to $413,350 </td>
      <td> $49,417 + 33% of the amount over $210,800 </td>
    </tr>
    <tr>
      <td> $413,350 to $441,000 </td>
      <td> $116,258.50 + 35% of the amount over $413,350 </td>
    </tr>
    <tr>
      <td> Over $441,000 </td>
      <td> $125,936 + 39.6% of the amount over $441,000 </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-sm tax-rates">
  <thead>
    <tr>
    <th colspan="2" class="status"> Married Filing Jointly </th>
    </tr>
    <tr>
      <th> Taxable Income </th>
      <th> Tax </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> $0 to $18,550 </td>
      <td> 10% of taxable income </td>
    </tr>
    <tr>
      <td> $18,550 to $75,300 </td>
      <td> $1,855 + 15% of the amount over $18,550 </td>
    </tr>
    <tr>
      <td> $75,300 to $151,900 </td>
      <td> $10,367.50 + 25% of the amount over $75,300 </td>
    </tr>
    <tr>
      <td> $151,900 to $231,450 </td>
      <td> $29,517.50 + 28% of the amount over $151,900 </td>
    </tr>
    <tr>
      <td> $231,450 to $413,350 </td>
      <td> $51,791.50 + 33% of the amount over $231,450 </td>
    </tr>
    <tr>
      <td> $413,350 to $466,950 </td>
      <td> $111,818.50 + 35% of the amount over $413,350 </td>
    </tr>
    <tr>
      <td> Over $466,950 </td>
      <td> $130,578.50 + 39.6% of the amount over $466,950 </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-sm tax-rates">
  <thead>
    <tr>
    <th colspan="2" class="status"> Married Filing Separately </th>
    </tr>
    <tr>
      <th> Taxable Income </th>
      <th> Tax </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> $0 to $9275 </td>
      <td> 10% of taxable income </td>
    </tr>
    <tr>
      <td> $9,275 to $37,650 </td>
      <td> $927.50 + 15% of the amount over $9,275 </td>
    </tr>
    <tr>
      <td> $37,650 to $75,950 </td>
      <td> $5,183.75 + 25% of the amount over $37,650 </td>
    </tr>
    <tr>
      <td> $75,950 to $115,725 </td>
      <td> $14,758.75 + 28% of the amount over $75,950 </td>
    </tr>
    <tr>
      <td> $115,725 to $206,675 </td>
      <td> $25,895.75 + 33% of the amount over $115,725 </td>
    </tr>
    <tr>
      <td> $206,675 to $233,475 </td>
      <td> $55,909.25 + 35% of the amount over $206,675 </td>
    </tr>
    <tr>
      <td> Over $233,475 </td>
      <td> $65,289.25 + 39.6% of the amount over $233,475 </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-sm tax-rates">
  <thead>
    <tr>
    <th colspan="2" class="status"> Standard Mileage Rates </th>
    </tr>
    <tr>
      <th> User </th>
      <th> Rate </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Business </td>
      <td> 54 cents </td>
    </tr>
    <tr>
      <td> Medical or Moving </td>
      <td> 19 cents </td>
    </tr>
    <tr>
      <td> Charitable </td>
      <td> 14 cents </td>
    </tr>
  </tbody>
</table>



