//red is 125r, 0g, 9b   7D0009
//yellow is 254r, 225g, 120b    FEE178

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 860px,
  lg: 992px,
  xl: 1200px
);

@import "bootstrap";
@import "font-awesome";

body, html {
  font-family: arial, serif;
}

a {
  color: black;
  text-decoration: none;
  height: 50px;
}

nav, footer {
  background-color: white;
  color: black;
}

footer {
  border-top: 1px solid #dddddd;
}

.notice, .alert {
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 3px;
}

.notice {
  background-color: #FEE490;
}

.alert {
  background-color: #7D0009;
}

.resources {
  list-style-type: none;
  margin-bottom: 0;

  li {
    padding-bottom: 25px;
  }

  @media (max-width: 600px) {
    padding-left: 10px;
  }
}

.profile-pic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 180px;
  height: 130px;
  padding-bottom: 30px;
}

.push {
  height: 25px;
}

.push2 {
  height: 60px;
}

.navbar-toggler {
  position: absolute;
  top: 40px;
  right: 0px;
  font-size: 24px;
}

.nav-float-right {
  float: right;
  color: #7D0009;
  padding-top: 36px;

  @media (max-width: 859px) {
    padding-right: 80px;
    font-size: 14px;
  }

  p {
    margin-bottom: 0.1em;
  }
}

@media (min-width: 860px) {
  .navbar-toggleable-sm {
    display: inline-block !important;
    padding-bottom: 25px;
  }
}

footer {
  padding: 10px 10px 10px 60px;
  height: 80px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.btn {
  border-radius: 3px;
  text-transform: none;
  min-width: 110px;
  margin-bottom: 0.25em;
  padding: 0.75em 1em;
  background-color: #7D0009;
  color: #ffffff !important;
  line-height: 1;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-content {
  padding: 25px;
  overflow: hidden;
  color: white;
  background: rgba(0,0,0,.7);
}

.carousel-checkboxes {
  padding-bottom: 160px;
  height: 500px;

  h1 {
    padding-bottom: 50px;
  }

  .container {
    text-align: center;
    width: 270px;
  }

  .checkbox {
    font-size: 28px;
    text-align: left;
  }

  @media (min-width: 850px) {
    height: 550px;
  }

  @media (min-width: 960px) {
    height: 515px;
  }

  @media (min-width: 1070px) {
    height: 485px;
  }

  @media (min-width: 1180px) {
    height: 450px;
  }
}

.carousel-testimonials {
  padding-bottom: 20px;

  @media (min-width: 850px) {
    height: 550px;
  }

  @media (min-width: 960px) {
    height: 515px;
  }

  @media (min-width: 1070px) {
    height: 485px;
  }

  @media (min-width: 1180px) {
    height: 450px;
  }
}

.carousel-indicators {
  bottom: -15px;
}

.fa-check-square-o {
  font-size: 32px;
  position: relative;
  top: 5px;
}

.right {
  float: right;
}

#tax-prep {
  padding-right: 5px;
}

#consulting {
  padding-right: 54px;
}

#experienced {
  padding-right: 43px;
}

.navbar {
  padding: 0 10px;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;

  @media (min-width: 950px) {
    padding: 0 50px;
  }

  @media (max-width: 859px) {
    padding: 0;
  }
}

.navbar-brand {
  float: none;
}

.navbar-nav .nav-item {
  float: none;
}

li.nav-item {
  .nav-link {
    color: #a7a7a7;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #7D0009;
  }
}

li.nav-item.active {
  .nav-link {
    color: #7D0009;
  }
}

@media (max-width: 859px) {
  li.nav-item.active {
    .nav-link {
      color: white;
    }
  }

  li.nav-item.active {
    background-color: #7D0009;
  }
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
  padding-left: 2rem;
}

li.nav-item:first-child {
  padding-left: 2rem;
}

a.nav-link {
  line-height: 2em;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }

  .navbar-nav .nav-item + .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  li.nav-item:first-child {
    margin-left: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container-fluid {
  padding: 30px;
}

.container-home {
  padding: 0px;
  background: asset-data-url("bwlighthouse.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-logo {
  display: inline-block;

  @media (max-width: 859px) {
    padding-left: 20px;
  }
}

@media (min-width: 544px) {
  .navbar-toggleable-xs {
    display: inline-block !important;
  }
}

.nav-menu {
  //display: inline-block;
}

.header-logo {
  width: 300px;
  height: 230px;
  display:block;
  margin:auto;

  @media (max-width: 800px) {
    width: 261px;
    height: 200px;
  }
}

.get-started {
  text-align: center;

  input {
    width: 85.6%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #dddddd;
    left: -2px;
  }

  #web_contact_name, #web_contact_email, #web_contact_phone {
    border-bottom: none;
  }

  textarea {
    width: 85%;
    height: 150px;
    resize: vertical;
    border: 1px solid #dddddd;
  }

  textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size: 24px;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-size: 24px;
  }

  textarea:-ms-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  @media (min-width: 34em) {
    textarea {
      width: 67%;
    }
    input {
      width: 67.3%;
    }
  }
}

.posts-table {
  width: 100%;
}

.post-form {
  text-align: center;
  margin: 5px;

  input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #dddddd;
  }

  #post_title, #post_author {
    border-bottom: none;
  }

  input#post_published, label{
    display: inline-block;
    width: initial;
  }

  textarea {
    width: 75%;
    height: 200px;
    resize: vertical;
    border: 1px solid #dddddd;
  }

  textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size: 24px;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-size: 24px;
  }

  textarea:-ms-input-placeholder {
    text-align: center;
    font-size: 24px;
  }
}

.content, .wrapper {
  margin: 15px;

  @media (min-width: 800px) {
    margin: 15px 70px;
  }
}

.content a {
    color: #7D0009;
  }

.author-date {
  text-align: center;
  color: rgba(31,31,31,.5);
  padding-bottom: 15px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.date:before {
  content: '\00B7';
  padding: 0 10px 0 8px;
}

.read-more {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.mce-container {
  margin-right: 1px !important;
}



