//red is 125r, 0g, 9b   7D0009
//yellow is 254r, 225g, 120b    FEE178

@import "bootstrap";
@import "font-awesome";

body, html {
  font-family: 'Alegreya', serif;
}

a {
  color: black;
  text-decoration: none;
  height: 50px;
}

nav, footer {
  background-color: #FEE178;
  color: black;
}

footer {
  padding: 10px 10px 10px 60px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.btn {
  border-radius: 3px;
  text-transform: none;
  min-width: 110px;
  margin-bottom: 0.25em;
  padding: 0.75em 1em;
  background-color: #48b4b4;
  color: #ffffff !important;
  line-height: 1;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.home-content {
  margin-bottom: 25px;
  overflow: hidden;
}

.fa-check-square-o {
  font-size: 32px;
  position: relative;
  top: 5px;
}

.right {
  float: right;
}

.checkbox {
  font-size: 18px;

  @media (min-width: 34em) {
    font-size: 24px;
  }
}

.checkbox-right {
  @media (min-width: 992px) {
    float: right;
  }
}

#tax-prep {
  padding-right: 5px;
}

#consulting {
  padding-right: 54px;
}

#experienced {
  padding-right: 43px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  float: none;
}

.navbar-nav .nav-item {
  float: none;
}

li.nav-item.active {
  .nav-link {
    color: white;
  }
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0;
  padding-left: 2rem;
}

li.nav-item:first-child {
  padding-left: 2rem;
}

li.nav-item.active {
  background-color: #7D0009;
}

a.nav-link {
  line-height: 2em;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }

  .navbar-nav .nav-item + .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  li.nav-item:first-child {
    margin-left: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container-fluid {
  padding: 30px;
}

.header-logo {
  width: 300px;
  height: 230px;
  display:block;
  margin:auto;

  @media (max-width: 800px) {
    width: 261px;
    height: 200px;
  }
}

.get-started {
  text-align: center;

  input {
    width: 85%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #dddddd;
  }

  #web_contact_name, #web_contact_email, #web_contact_phone {
    border-bottom: none;
  }

  textarea {
    width: 85%;
    height: 150px;
    resize: vertical;
    border: 1px solid #dddddd;
  }

  textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size: 24px;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-size: 24px;
  }

  textarea:-ms-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  @media (min-width: 34em) {
    textarea, input {
      width: 67%;
    }
  }
}

.posts-table {
  width: 100%;
}

.post-form {
  text-align: center;

  input {
    width: 75%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #dddddd;
  }

  #post_title, #post_author {
    border-bottom: none;
  }

  input#post_published, label{
    display: inline-block;
    width: initial;
  }

  textarea {
    width: 75%;
    height: 200px;
    resize: vertical;
    border: 1px solid #dddddd;
  }

  textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: 24px;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-size: 24px;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-size: 24px;
  }

  textarea:-ms-input-placeholder {
    text-align: center;
    font-size: 24px;
  }
}

.content {
  margin-top: 15px;
  margin-bottom: 15px;
}

